/* 
COLORS

*Green
APPLE = #40a040
FOREST GREEN = #208020
MANTIS = #60c060
CAMARONE = #006000
SULU = #90f090

*Yellow
Shalimar = #ffffc0

*/

body {
  background-color: #40a040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin-top: 1em;
  text-align: center;
}

h2 {
  font-weight: bold;
}

/* Playing Fields */

.playingField {
  border-color: #208020 #60c060 #60c060 #208020;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  margin-bottom: 8px;
  padding: 4px;
  text-align: left;
}

.cardArea {
  font-size: 20pt;
  height: 8em;
  position: relative;
  padding: 20px;
}

.textBox {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: #000000;
  float: right;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0.1em;
  text-align: center;
  width: 12em;
}

.name {
  background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  color: #ffffc0;
}

/* Control Area */

#controlsArea {
  margin-top: 0.5em;
  text-align: left;
}

input.button {
  margin-top: 0.25em;
  width: 8em;
}

.dollars {
  color: #006000;
}

.result {
  color: #c00000;
}

/* Cards */

#cover {
  height: 180px;
  width: 120px;
  padding: 3px;
  border: 1px solid #000;
  background-color: brown;
  border-radius: 10px;
  position: absolute;
}

.icard {
  height: 180px;
  width: 120px;
  padding: 3px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 100px;
  display: inline-block;
  font-family: "Lato";
}

.top-card {
  font-size: 30px;
  line-height: 25px;
  left: 2px;
  top: 2px;
}

.content-card {
  text-align: center;
  font-size: 50px;
}

.bottom-card {
  font-size: 30px;
  line-height: 25px;
  right: 2px;
  bottom: 2px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

/* Suits */

.clubs,
.spades {
  color: black;
}

.diams,
.hearts {
  color: red;
}

.clubs .suit::after {
  content: "\2663";
}
.diams .suit::after {
  content: "\2666";
}

.hearts .suit::after {
  content: "\2665";
}
.spades .suit::after {
  content: "\2660";
}
