body {
  background-color: #40a040;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

pre {
  font-family: Courier New, Courier, monospace;
  font-size: 80%;
}

td,
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

ul {
  list-style-type: square;
}

#demoBox {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  width: 24em;
}

.footer {
  margin-bottom: 0px;
  text-align: center;
}

/* Boxed table styles */

table.boxed {
  border-spacing: 2px;
  empty-cells: hide;
}

td.boxed,
th.boxed,
th.boxedHeader {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

th.boxed {
  background-color: #c0c0c0;
}

th.boxedHeader {
  background-color: #808080;
  color: #ffffff;
}

/******************************************************************************
* Styles for page and game areas.                                             *
******************************************************************************/

body {
  background-color: #40a040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin-top: 1em;
  text-align: center;
}

#header {
  background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  border-style: solid;
  border-width: 1px;
  color: #ffffc0;
  margin-bottom: 1ex;
  padding: 4px 1em;
}

#header h2 {
  margin: 0px;
  padding: 0px;
}

.playingField {
  border-color: #208020 #60c060 #60c060 #208020;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  margin-bottom: 8px;
  padding: 4px;
  text-align: left;
}

.activeField {
  /* [disabled]background-color: #60c060; */
  border-color: #006000 #90f090 #90f090 #006000;
}

.cardArea {
  font-size: 20pt;
  height: 6em;
  position: relative;
}

.textBox {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: #000000;
  float: right;
  font-family: "Times New Roman", serif;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0.1em;
  text-align: center;
  width: 12em;
}

.name {
  background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  color: #ffffc0;
}

.result {
  color: #c00000;
}

.dollars {
  color: #006000;
}

.lost {
  color: #80b060;
}

#controlsArea {
  margin-top: 0.5em;
  text-align: left;
}

#rulesBox {
  background-color: #60c060;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  display: none;
  margin: 1em auto 1em auto;
  padding: 0.5em 1em 0.5em 1em;
  text-align: left;
  width: 40em;
}

input.button {
  margin-top: 0.25em;
  width: 8em;
}

#output {
  font-size: 1.5em;
}

#btndeal,
#myactions {
  display: none;
}

/* Cards */

#cover {
  height: 160px;
  width: 120px;
  padding: 3px;
  border: 1px solid #000;
  background-color: brown;
  border-radius: 10px;
  position: absolute;
}

.icard {
  height: 160px;
  width: 120px;
  padding: 3px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 100px;
  display: inline-block;
  font-family: "Lato";
}

.top-card {
  font-size: 30px;
  line-height: 20px;
  left: 2px;
  top: 2px;
}

.content-card {
  text-align: center;
  font-size: 70px;
}

.bottom-card {
  font-size: 30px;
  line-height: 20px;
  right: 2px;
  bottom: 2px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

/* Suits */

.clubs,
.spades {
  color: black;
}

.diams,
.hearts {
  color: red;
}

.clubs .suit::after {
  content: "\2663";
}
.diams .suit::after {
  content: "\2666";
}

.hearts .suit::after {
  content: "\2665";
}
.spades .suit::after {
  content: "\2660";
}
