@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #05773c;
}

.container {
  display: grid;
  grid-template-columns: 65% 35%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  padding: 3rem;
}

.button {
  padding: 1rem 2rem;
  min-width: 10rem;
  margin-left: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}
.button--hit, .button--stand, .button--double, .button--split {
  display: none;
}
.button--deal {
  padding: 1rem 3rem;
  font-size: 3rem;
}

/* Cards */
.card {
  height: 20rem;
  width: 13.5rem;
  padding: 1rem 0.75rem;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  left: 10rem;
  display: inline-block;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card__cover {
  background: brown;
  background: linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, brown;
  background-size: 1.5rem 3rem;
}
.card__top, .card__bottom {
  width: 100%;
  display: flex;
  align-items: left;
  font-size: 3rem;
  line-height: 2.5rem;
}
.card__corner {
  height: 5.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card__content {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}
.card__bottom {
  transform: rotate(-180deg);
}

/* Suits */
.clubs,
.spades {
  color: #000;
}

.diams,
.hearts {
  color: red;
}

.clubs .suit::after {
  content: "♣";
}

.diams .suit::after {
  content: "♦";
}

.hearts .suit::after {
  content: "♥";
}

.spades .suit::after {
  content: "♠";
}

.sidebar {
  padding: 2rem;
  display: grid;
  align-content: start;
  grid-gap: 2.5rem;
}
.sidebar__image {
  grid-row: 1/span 1;
  justify-content: start;
  display: grid;
  place-content: center;
}
.sidebar__image img {
  height: 25rem;
  width: 25rem;
}
.sidebar__score {
  grid-row: 2/span 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar__score .box-score {
  border: 1px solid #97d3b4;
  border-radius: 1rem;
  height: 10rem;
  padding: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  color: #fff;
}
.sidebar__score .box-score h1 {
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
}
.sidebar__score .box-score h1 .value {
  font-size: 2 rem;
}
.sidebar__message {
  grid-row: 3/span 1;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.sidebar__change-stake {
  grid-row: 4/span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__deal {
  grid-row: 5/span 1;
  display: grid;
  place-content: center;
}

.playing-area {
  border: 1px solid #97d3b4;
  border-radius: 1rem;
  height: 65rem;
  width: 80rem;
  padding: 2rem;
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.playing-area__dealer, .playing-area__player {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.playing-area__dealer .card-box, .playing-area__player .card-box {
  border: 1.5px solid #97d3b4;
  border-radius: 1rem;
  height: 22.5rem;
  width: 15rem;
  position: relative;
}
.playing-area__dealer .card-value, .playing-area__player .card-value {
  position: absolute;
  left: 2rem;
  top: 5rem;
  color: #fff;
  font-size: 2rem;
}
.playing-area__player {
  height: 30rem;
}
.playing-area__player .button-menu {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */