$color-brown: brown;
$color-light-green: #97d3b4; // Salem Green
$color-gold: #fdc269; // Koromiko Gold
$color-red: red;

$color-green-100: #8bc34a; // Green Peas
$color-green-200: #7cb342; // Nasty Green
$color-green-300: #689f38; // Flat Green
$color-green-400: #558b2f; // Moss Green
$color-green-500: #33691e; // La Selle Green
$color-green: #05773c; // Salem Green

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-primary: "Poppins", sans-serif;
